body{
    margin: 0 auto;
    max-width: 1024px;
    background-color: white;
}

.inner{
    background-color: floralwhite;
    padding: 5px 25px 5px;
}

a.nav{
    padding: 10px 45px;
    text-align: center;
    font-size: 150%;
    text-decoration-line: none;
    color: white;
}

a.now{
    background-color: saddlebrown;
}

nav{
    background-color: brown;
    padding: 10px 0px;
    width: 1024px;
}

a{
    color: darkblue;
    text-decoration-line: none;
}

footer{
    text-align: center;
    font-size: 90%;
    padding-bottom: 5px;
}
