body{
    background-color: ghostwhite;
    display: block;
}

.inner{
    background-color: snow;
}

header{
    text-align: center;
}

nav{
    text-align: center;
    margin: 4px;
    font-size: 125%;
}

nav>a{
    color: #005d80;
    text-decoration-line: none;
}

.main{
    padding-left: 30px;
    padding-right: 30px;
}

footer{
    text-align: center;
    margin: 4px;
    font-size: 90%;
}